body {
    width: 970px;
    height: 250px;
}

#animation {
    background: url(images/970x250-bg.jpg) center no-repeat;
    background-size: cover;
}

.logo {
    background: url(images/970x250-logo.png) center no-repeat;
    background-size: contain;
}

.cta[data-title='Shop Now'] {
    background: url(images/970x250-cta.png) center no-repeat;
    background-size: contain;
}

/* creeping lines */
.creeping-lines {
    --height: 36px;
    font-size: 19.5px;
}

/* frame 0 */
.frame-0 .text {
    background: url(images/970x250-frame-0-text.png) center no-repeat;
    background-size: contain;
}

/* frame 1 */
.frame-1 .text-0 {
    background: url(images/970x250-frame-1-text-0.png) center no-repeat;
    background-size: contain;
}

.frame-1 .text-1 {
    background: url(images/970x250-frame-1-text-1.png) center no-repeat;
    background-size: contain;
}

/* frame 2 */
.frame-2 .image {
    background: url(images/970x250-frame-2-image.png) center no-repeat;
    background-size: contain;
}
