/*
	animations
   ================ */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translate(-20px, 0);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translate(20px, 0);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate(0, 15px);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate(0, -10px);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes zoomOutFadeIn {
    0% {
        opacity: 0;
        transform: scale(1.05, 1.05);
    }

    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}

@keyframes puls {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.75);
    }

    100% {
        transform: scale(1);
    }
}

/*
	fonts
   ================ */
@font-face {
    font-family: 'Helvetica';
    src: url('https://am.contobox.com/cbdata/fonts/HelveticaAll/HelveticaNeue/HelveticaNeue-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd';
    src: url('https://am.contobox.com/cbdata/fonts/HelveticaAll/HelveticaNeueLTStd/HelveticaNeueLTStd-Lt.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd';
    src: url('https://am.contobox.com/cbdata/fonts/HelveticaAll/HelveticaNeueLTStd/HelveticaNeueLTStd-Md.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd';
    src: url('https://am.contobox.com/cbdata/fonts/HelveticaAll/HelveticaNeueLTStd/HelveticaNeueLTStd-Bd.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue-Condensed';
    src: url('https://am.contobox.com/cbdata/fonts/HelveticaAll/HelveticaNeue/HelveticaNeue-BoldCond.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue-Condensed';
    src: url('https://am.contobox.com/cbdata/fonts/HelveticaAll/HelveticaNeue/HelveticaNeue-BlackCond.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue-Condensed';
    src: url('https://am.contobox.com/cbdata/fonts/HelveticaAll/HelveticaNeue/HelveticaNeue-BlackExtCond.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

/*
	common styles
   ================ */
#animation {
    --frame-animation-duration: 0.4s;
    --step-animation-duration: 0.5s;
    --step-animation-delay: 2s;
    --cta-animation-delay: var(--step-animation-delay);
    position: relative;
    overflow: hidden;
}

/* logos animation */
.logo {
    position: absolute;
    opacity: 0;
}

.logo.hide {
    animation: fadeOut var(--frame-animation-duration) linear forwards;
}

.logo.active {
    animation: fadeIn var(--frame-animation-duration) linear forwards;
}

/* cta animation */
.cta {
    position: absolute;
    opacity: 0;
}

.cta.hide {
    animation: fadeOut var(--frame-animation-duration) linear forwards;
}

.cta.active {
    animation: fadeInUp var(--frame-animation-duration) linear var(--cta-animation-delay) forwards;
}

/* creeping lines */
.creeping-lines {
    --axis: horizontal; /* horizontal | vertical */
    --gap: 2em;
    --height: auto;

    position: absolute;
    inset: 0;
}

.creeping-line {
    position: absolute;
    display: inline-grid;
    height: var(--height);
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    align-items: center;
    gap: var(--gap);
    background: #000;
    color: #fff;
    font-family: 'HelveticaNeue-Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 var(--gap);
    opacity: 0;
    animation: fadeIn var(--frame-animation-duration) linear forwards;
}

.creeping-lines.horizontal .creeping-line.creeping-line-top {
    top: 0;
    left: 0;
}

.creeping-lines.horizontal .creeping-line.creeping-line-bottom {
    bottom: 0;
    right: 0;
}

.creeping-lines.vertical .creeping-line.creeping-line-top {
    bottom: calc(var(--height) * -1);
    left: 0;
    transform: rotate(-90deg);
    transform-origin: top left;
}

.creeping-lines.vertical .creeping-line.creeping-line-bottom {
    top: 0;
    right: var(--height);
    transform: rotate(-90deg);
    transform-origin: top right;
}

.creeping-line.creeping-line-bottom span {
    transform: rotate(180deg);
}

/* frames animation */
.frame {
    position: absolute;
    inset: 0;
    opacity: 0;
    animation-duration: var(--frame-animation-duration);
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.frame.show {
    animation-name: fadeIn;
}

.frame.hide {
    animation-name: fadeOut;
}

/* frames inner elements animation */
.frame > * {
    position: absolute;
    opacity: 0;
}

.frame.hide > * {
    opacity: 1;
}

/* steps animation */
.step-0 {
    animation-delay: calc(var(--step-animation-delay) * 0);
    animation-duration: var(--step-animation-duration);
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.step-1 {
    animation-delay: calc(var(--step-animation-delay) * 1);
    animation-duration: var(--step-animation-duration);
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.step-2 {
    animation-delay: calc(var(--step-animation-delay) * 2);
    animation-duration: var(--step-animation-duration);
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.step-3 {
    animation-delay: calc(var(--step-animation-delay) * 3);
    animation-duration: var(--step-animation-duration);
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.step-4 {
    animation-delay: calc(var(--step-animation-delay) * 4);
    animation-duration: var(--step-animation-duration);
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.step-5 {
    animation-delay: calc(var(--step-animation-delay) * 5);
    animation-duration: var(--step-animation-duration);
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

/*
	developer mode styles
   ================ */
.next-frame-button-developer {
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
    font-size: 0.5em;
    cursor: pointer;
    animation: puls 0.25s linear 5 forwards;
    z-index: 99;
}

/*
	your styles
   ================ */
.logo,
.cta,
.frame > * {
    inset: 0;
}

.frame.show.start-animation > * {
    animation-name: fadeInUp;
}
