body {
  position: relative;
  display: grid;
  height: 100vh;
  justify-content: center;
  align-content: center;
  margin: 0;
  padding: 0;
}

#animation {
  --animation-duration: 0.5s;
  --animation-delay: 0.5s;

  position: relative;
  overflow: hidden;
  user-select: none;
}

/* logos */
.logo {
  opacity: 0;
  animation-duration: var(--animation-duration);
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.logo.show {
  animation-name: fadeIn;
}

.logo.hide {
  animation-name: fadeOut;
}

/* cta buttons */
.cta {
  opacity: 0;
  animation-duration: var(--animation-duration);
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.cta.show {
  animation-name: fadeInUp;
}

.cta.hide {
  animation-name: fadeOut;
}

/* frames */
.frame {
  opacity: 0;
  animation-duration: var(--animation-duration);
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.frame.show {
  animation-name: fadeIn;
}

.frame.hide {
  animation-name: fadeOut;
}

/* steps */
[data-step]:not([data-step='0']) {
  opacity: 0;
}

[data-step]:not([data-step='0']).show {
  animation-name: fadeIn;
}

[data-step]:not([data-step='0']) {
  animation-duration: var(--animation-duration);
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

/* developer mode */
.frame-navigation {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: grid;
  width: 80%;
  max-width: 150px;
  grid-auto-flow: column;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 1px solid #fff;
  border-bottom: none;
  border-radius: 7px 7px 0 0;
  padding: 5px 0;
  box-sizing: border-box;
  transform: translate(-50%);
}

.nav-btn {
  cursor: pointer;
}
